        body {
            position: relative;
            margin-left: 40px;
            margin-right: 40px;
        }
        
        #section1 {
            padding-top: 50px;
            height: 500px;
            color: #fff;
            background-color: #FF8F5F;
        }
        
        #section2 {
            padding-top: 30px;
            height: 500px;
            color: #fff;
            background-color: #B16240;
        }
        
        #section3 {
            padding-top: 30px;
            height: 600px;
            color: #fff;
            background-color: #5F5550;
        }
        
        #section4 {
            padding-top: 50px;
            height: 500px;
            color: #fff;
            background-color: #8E2B00;
        }
        
        h1 {
            text-align: center;
            font-style: italic;
            font-family: Georgia, "Times New Roman", serif;
            text-decoration: underline;
            text-shadow: 1px 1px 1px #FFFFFF;
        }
        
        #gallery {
            position: relative;
            height: 200px;
        }
        
        #gallery ul {
            list-style-type: none;
            width: 300px;
        }
        
        #gallery li {
            display: inline;
            float: left;
            padding: 10px;
        }
        
        #gallery span {
            position: absolute;
            left: -1000px;
            opacity: 0;
            transition: opacity 3s ease-in-out;
        }
        
        #gallery a:hover span {
            position: absolute;
            top: 16px;
            left: 320px;
            text-align: center;
            opacity: 1;
        }
        
        figure {
            position: absolute;
            left: 280px;
            text-align: left;
        }
        
        footer {
            position: relative;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: black;
            color: #CEAEBF;
            text-align: center;
            height: auto;
        }
        
        header,
        main,
        nav,
        footer,
        figure,
        figcaption,
        aside,
        section,
        article {
            display: block;
        }
        /* CSS - Cascading Style Sheet */
        /* Palette color codes */
        /* Palette URL: http://paletton.com/#uid=10g0u0klL1Wk3++55bZZVhTkrmf */
        /* Feel free to copy&paste color codes to your application */
        /* As hex codes */
        
        .color-primary-0 {
            color: #0F0805
        }
        /* Main Primary color */
        
        .color-primary-1 {
            color: #FF8F5F
        }
        
        .color-primary-2 {
            color: #5F5550
        }
        
        .color-primary-3 {
            color: #8E2B00
        }
        
        .color-primary-4 {
            color: #B16240
        }
        /* As RGBa codes */
        
        .rgba-primary-0 {
            color: rgba( 15, 8, 5, 1)
        }
        /* Main Primary color */
        
        .rgba-primary-1 {
            color: rgba(255, 143, 95, 1)
        }
        
        .rgba-primary-2 {
            color: rgba( 95, 85, 80, 1)
        }
        
        .rgba-primary-3 {
            color: rgba(142, 43, 0, 1)
        }
        
        .rgba-primary-4 {
            color: rgba(177, 98, 64, 1)
        }
        /* Generated by Paletton.com Â© 2002-2014 */
        /* http://paletton.com */
        
        p {
            text-align: center;
            font-family: Verdana, Arial, sans-serif;
            color: black;
            font-size: 20px;
        }
        
        #section2 ul li {
            font-size: 25px;
            color: black;
        }